.scoreInfo{
    display:flex;
    justify-content:space-between;
    border-radius:10px;
    width:90%;
}
.iconAndCat{
    display:flex;
}
img{
    margin:0 10px 0 10px;
}
.scoreInfo.Reaction{
    background-color:hsla(0, 100%, 90%,0.5);
}
.scoreInfo.Memory{
        background-color:hsla(39, 100%, 90%, 0.5);
}
.scoreInfo.Verbal{
 background-color: hsla(166, 100%, 90%,0.5);
}
.scoreInfo.Visual{
 background-color: hsl(234, 85%, 90%,0.5);

}
p.Reaction {
    color: hsl(0, 100%, 67%);
}
p.Memory{
    color:hsl(39, 100%, 56%);
}
p.Verbal{
    color: hsl(166, 100%, 37%);
}
p.Visual{
    color: hsl(234, 85%, 45%);
}

p {
    color:black;
    font-weight: bold;
    margin-right:15px;
}
p span{
    color: lightgray;
}